/* https://personal.sron.nl/~pault/ */
:root {
   --white: #fff;
   --black: #000;
   --blue: #47a;
   --cyan: #6ce;
   --green: #283;
   --yellow: #cb4;
   --red: #e67;
   --purple: #a37;
   --grey: #bbb;

   --contrast-yellow: #da3;
   --contrast-red: #b56;
   --contrast-blue: #048;

   --pale-blue: #bce;
   --pale-cyan: #cef;
   --pale-green: #cda;
   --pale-yellow: #eeb;
   --pale-red: #fcc;
   --pale-grey: #ddd;

   --dark-blue: #225;
   --dark-cyan: #255;
   --dark-green: #252;
   --dark-yellow: #663;
   --dark-red: #633;
   --dark-grey: #555;

   --backgroundColor: var(--white);
   --textColor: var(--black);
   --linkColor: var(--blue);
   --footerColor: var(--grey);

   --mainFontFamily: 'Helvetica Neue', arial, sans-serif;
}

body {
   margin: 0;
   padding: 0;
   background-color: var(--backgroundColor);
   font-family: var(--mainFontFamily);
   color: var(--textColor);
}

.post-content img {
   max-width: 75%;
   height: auto;
   display: block;
   margin: 0 auto;
}
 
a, a:visited {
   color: var(--linkColor);
   text-decoration: none;
   border-bottom-color: var(--linkColor);
   border-bottom-width: 1px;
   border-bottom-style: solid;
}

header h1 {
   display: block;
   font-size: 2em;
   font-weight: bold;
   line-height: 2.4em;
   margin: 0;
}

nav {
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
}

nav a {
   text-wrap: nowrap;
   margin-bottom: 0.5em;
   margin-right: 1em;
}

header, main, footer {
   margin: 10pt 2% 30pt 2%;
   width: 96%;
}

.post-meta {
   font-size: 11pt;
   line-height: 14pt;
}

.post-list ul li a p {
   display: inline;
}

.post-item p {
   margin-bottom: 2pt;
}

footer span {
   color: var(--footerColor);
   font-size: 11pt;
   line-height: 14pt;
}

footer span a {
   color: var(--footerColor);
   border-bottom-color: var(--footerColor);
}