/* https://personal.sron.nl/~pault/ */
:root {
   --white: #fff;
   --black: #000;
   --blue: #47a;
   --cyan: #6ce;
   --green: #283;
   --yellow: #cb4;
   --red: #e67;
   --purple: #a37;
   --grey: #bbb;

   --contrast-yellow: #da3;
   --contrast-red: #b56;
   --contrast-blue: #048;

   --pale-blue: #bce;
   --pale-cyan: #cef;
   --pale-green: #cda;
   --pale-yellow: #eeb;
   --pale-red: #fcc;
   --pale-grey: #ddd;

   --dark-blue: #225;
   --dark-cyan: #255;
   --dark-green: #252;
   --dark-yellow: #663;
   --dark-red: #633;
   --dark-grey: #555;

   --backgroundColor: var(--white);
   --textColor: var(--black);
   --linkColor: var(--blue);
   --footerColor: var(--grey);
}

body {
   margin: 0;
   padding: 0;
   background-color: var(--backgroundColor);
   font-size: 19px;
   color: var(--textColor);
}
 
a, a:visited {
   color: var(--linkColor);
   text-decoration: none;
   border-bottom-color: var(--linkColor);
   border-bottom-width: 1px;
   border-bottom-style: solid;
}

header h1 {
   display: inline-block;
   font-size: 16px;
   font-weight: bold;
   line-height: 20px;
   margin: 0;
}

.site-description {
   font-size: 16px;
}

.menu {
   display: inline-block;
   font-size: 16px;
   line-height: 20px;
   margin: 0;
}

.menu ul {
   display: inline-block;
   margin: 0 0 0 20px;
   padding: 0;
}

.menu ul li {
   display: inline-block;
   margin-right: 4px;
}

header, main, footer {
   margin: 10px 2% 30px 2%;
   width: 96%;
}

footer span {
   color: var(--footerColor);
}

footer span a {
   color: var(--footerColor);
   border-bottom-color: var(--footerColor);
}